- content_for :page_title do
  CPOSC 2013

.row
  .header
    %h1 CPOSC 2013 - Unicorn and Capistrano
  %p
    CPOSC loves Unicorn and Capistrano!
  .site-image
    =image_tag "site_image.png", alt: "Awesome"
